.btn {
    font-size: rem(16px);
    font-weight: 800;
    padding: rem(21px) rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: rem(18px);
    background: #FEDB3F;
    color: #000000;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &:hover {
        background: #FFD517;
    }

    &--theme--transparent {
        background: transparent;
        color: #FFFFFF;
        text-transform: none;
        font-size: rem(18px);
        line-height: rem(22px);
        font-weight: normal;

        &:hover {
            color: #FEDB3F;
            background: transparent;
        }
    }
}

