.fixed-menu {
    position: fixed;
    top: 25%;
    right: 6%;

    @include tablets {
        display: none;
    }

    &--shadowed {
        .fixed-menu__link::before {
            background: #000;
        }

        .fixed-menu__item--active .fixed-menu__link {
            border-color: #000;
        }
    }
}

.fixed-menu__item {
    margin-bottom: rem(7px);

    &--active {
        .fixed-menu__link {
            border-color: #fff;
        }
    }
}

.fixed-menu__link {
    width: rem(14px);
    height: rem(14px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;

    &:before {
        content: '';
        display: block;
        width: rem(5px);
        height: rem(5px);
        border-radius: 50%;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}