.hamburger {
    width: rem(26px);
    height: rem(20px);
    flex-direction: column;
    justify-content: space-between;
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: rem(10px);

    @include tablets {
        display: block;
    }
}

.hamburger__icon {
    fill: #fff;
    width: rem(26px);
    height: rem(25px);

    @include phones {
        width: rem(30px);
        height: rem(30px);
    }
}