.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: rem(7px);

    @include phones {
        font-size: rem(40px);
        line-height: rem(36px);
        margin-bottom: rem(9px);
    }
}

.headline__subtitle {
    padding: 0 26%;
    margin-bottom: rem(49px);

    @include phones {
        padding: 0 7%;
        margin-bottom: rem(53px);
    }
}