.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: display 1s;
    z-index: 999;
    background: #313131d7;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(49, 49, 49, 0.843);
  
    &.error-modal {
      .modal__content {
        color: red;
      }
    }
  
  &__container {
    min-width: rem(300px);
    height: rem(176px);
    display: flex;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  &__content {
    margin-bottom: rem(15px);
    font-style: normal;
    font-weight: normal;
    font-size: rem(18px);
    line-height: rem(24px);
    color: #000000;
    }
  
  
  
  .bx-wrapper .bx-controls-direction a {
    @include tablets {
      top: 28%;
      margin-top: 0;
    }
  }
  
  .bx-wrapper .bx-next {
    @include tablets {
      right: rem(-9px);
    }
  }
  
  .bx-wrapper .bx-prev {
    left: rem(-9px);
  }
}