.socials {
    display: flex;
    align-items: center;
    min-width: rem(130px);
}

.socials__item {
    padding: 0 5%;
}

.socials__img {
    width: rem(20px);
    height: rem(20px);
    fill: #B3B3B3;
    transition: .5s;

    &:hover {
        fill: #000;
    }
}