.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header__logo {
    flex-shrink: 0;
    fill: #fff;

    &-icon {
        width: rem(50px);
        height: rem(40px);

        @include phones {
            width: rem(60px);
            height: rem(50px);
        }
    }

    
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}
