.order-section {
    background: url(../img/form-bg.jpg) top center, #797979;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    background-blend-mode: multiply;
    height: 100%;

    

    &--title {
        color: #FFFFFF;

        @include tablets {
            padding-top: rem(175px);
        }
    }
}