.phone-number {
    font-size: rem(22px);
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
        color: #FEDB3F;
        transition: 1s;
}
}

.phone-number__text {
    white-space: nowrap;
    text-decoration: none;
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);

    &--white {
        fill: #fff;
    }

    &:hover {
        fill: #FEDB3F;
        transition: 1s;
    }
}