.team {
    background: #fff;
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        margin-bottom: rem(53px);

        @include tablets {
            margin-bottom: rem(33px);
        }

        @include phones {
            margin-bottom: rem(36px);
        }
    }

    &__list--desctop {
        display: flex;
        justify-content: center;

        @include tablets {
            display: none;
        }
    }

    &__list--mobile {
        display: none;

        @include tablets {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__member {
        min-height: rem(427px);
        width: rem(222px);
        margin-right: rem(20px);

        @include tablets {
            min-height: 0;
            margin-right: 0;
            width: 198px;
        }

        &-content {
            overflow: hidden;
            height: 0;
            transition: height .3s;

            @include tablets {
                margin-bottom: rem(20px);
            }

            &-block {
                min-height: rem(80px);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                .team__member-pic {
                    @include tablets {
                        display: block;
                        margin-bottom: rem(8px);
                    }
                }

                @include phones {
                    margin-bottom: 0px;
                }
            }
        }

        &-link {
            cursor: pointer;
            background: transparent;
            border: transparent;
            display: flex;
            align-items: center;
            text-align: center;
            margin-bottom: rem(8px);
            justify-content: center;
            margin-right: 0;
            padding: 0;

            @include tablets {
                margin-bottom: rem(16px);
                margin-right: 0;
            }

            @include phones {
                margin-bottom: 0;
                margin-right: 0;
            }
        }

        &-name {
            color: #000;
            font-weight: bold;
            font-size: 21px;
            display: flex;
            margin-bottom: 0;
            justify-content: center;

            &::after {
                content: "";
                flex-shrink: 0;
                width: rem(10px);
                width: rem(10px);
                background: url('../img/triangle_team.svg');
                background-repeat: no-repeat;
                background-position: center;
                padding-left: rem(4px);
            } 
        } 

        &-pic {
            margin-bottom: rem(21px);

            @include tablets {
                display: none;
            }

            @include phones {
                height: 180px;
                width: 138px;
                display: block;
            }
        }

        &-spec {
            font-weight: 400;
            color: #292929;
            text-align: center;
            margin-bottom: 4px;
        }

        &-optain {
            text-align: center;
            font-weight: 300;
        }
    }
}

.team__member.active .team__member-name::after {
    transform: rotate(-180deg);
}